<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="org.apache.cordova.device" version="0.2.3">
        <name>HelloIos</name>
        <description>A starter project for building Cordova's plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,project,starter</keywords>
        <js-module src="www/starter.js" name="starter">
            <clobbers target="starter" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="Device">
                    <param name="ios-package" value="CDVDevice"/>
                </feature>
            </config-file>
            <header-file src="src/ios/TestPluginIos/Classes/HelloIos.h" />
            <source-file src="src/ios/TestPluginIos/Classes/HelloIos.m" />
        </platform>

        <platform name="android">

      </platform>
    </plugin>